.footer{
    position: relative
    
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px 16px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #cc0000;
}
.MuiAlert-message{
align-content: center;
font-weight: 900;
font-size: x-large;
}
.css-3lhuho-MuiPaper-root-MuiAlert-root .MuiAlert-icon {
    align-self: center;
}