.all-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9ecef;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    min-height: 300px;
    height: 100%;
}

.single-view {
    width: 800px;
    min-height: 500px;
    height: auto;
    background-color: #f0f0f0;
    border: 5px solid #007bff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
