
.dashboard-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 2px solid #ddd;
}

.sidebar button {
    padding: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar button:hover {
    background-color: #0056b3;
}

.main-content {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* gap: 20px; */
}

.camera-grid {
    display: grid;
    grid-template-columns: repeat(2,400px);
    gap: 10px;
    /* width: 100%; */
    /* align-items: center; */
}

.camera-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9ecef;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
}

.camera-video {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
}
